article {
    display: flex;
    justify-content: space-between;
    position: relative;
}

aside {
    padding-top: 1.8rem;
    width: 24%;
    box-shadow: 0.4rem 0 0.4rem rgba(0,0,0,0.1);
    background: var(--background-50);
}

aside::after {
    position: absolute;
    top:5rem;
    right: -3rem;
    content: '>';
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 0 50% 50% 0;
    background: var(--background-50);
    text-align: center;
    display: none;
}

aside:hover {
    transform: translateX(0);
}

aside .section {
    margin: 1.5rem 5rem;
    font-size: 2rem;
    cursor: pointer;

}

aside .section.active {
    color: var(--main-color);
}

aside .section:hover {
    opacity: 0.9;
    transform: scale(1.08);
}

main {
    width: 75% ;
}

.list-product {
    background: var(--background-100);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.1);
}

/* product */

.list-product .product {
    cursor: pointer;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--background-50);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
    position: relative;

}

.list-product .product .image {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
}


.list-product .product .image::after {
    position: absolute;
    content: "Xem thêm";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: rgba(0,0,0,0.2);
    color: var(--background-50);
    font-size: 1.8rem;
    text-align: center;
    display: none;
}

.list-product .product:hover .image::after {
    display: block;
}

.list-product .product .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-product .product .info-product .name {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-900);
    margin: 1rem 0;
}

.list-product .product .info-product .price {
    font-size: 1.5rem;
    color: red;
    font-weight: 500;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: end;
    align-items: end;
} 

.list-product .product .info-product .price span {
    color: var(--text-900);
    font-size: 1.2rem;
    margin-left: 0.4rem;
}

.list-product .product:hover {
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.pagination {
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    margin: 2rem;
} 

.numbers {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


#prev,
#next {
    cursor: pointer;
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 3rem;
    user-select: none;
}

.number {
    width: 3rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 3rem;
    margin: 0 0.5rem;
    user-select: none;
}


#prev:hover,
#next:hover, 
.number:hover,
.number.active {
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.2);
}






@media (max-width: 960px) {
    aside {
        width: 30rem;
        height: 100%;
        background: var(--background-50);
        position: absolute;
        z-index: 10;
        transform: translateX(-28rem);
    }
    aside::after {
        display: block;
    }
    main {
        width: 100%;
    }
    .list-product {
        padding-left: 4rem;
    }
}

@media (max-width: 768px) {
    .list-product {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .list-product .product .image {
        height: 20rem;
    }
}